// *{
//     margin: 0;
//     padding: 0;
//  $bkc   box-sizing: border-box;
// }


 body{
   background-color:$top-color;
   margin: 0 0; 
}
 a{
     text-decoration: none;
}

 ul{
     list-style: none;
}