%display{display: flex;
justify-content: center;
align-items: center;}
//
%display-column{display: flex;
    justify-content: center;
    align-items: center;
flex-direction:column;
}
//
%display-r{
    display: flex;
justify-content: space-between;
align-items: center;
}
