$top-color:rgb(248,249,250);
$blue-color:rgb(16,137,255);
$bkc-hover:rgba(17, 106, 194, 0.84);
$gray-color: gray;
$black-color:black;
$white-color:white;
$bkc:rgb(255,255,255);



//
$Montserrat: 'Montserrat', sans-serif;
$Oswald: 'Oswald', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Satisfy: 'Satisfy', cursive;
$Moon-dance:'Moon Dance', cursive;


//
$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$for-smal:300px;